.logo {
    width: 100%;
    text-align: center;
    font-size: 0;
}

.logo img {
    width: 414px;
    height: 86px;
    margin: 88px 0;
}

.form_warrper {
    width: 680px;
    margin: 0 auto;
}

.send_items {
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    font-size: 30px;
    color: #666666;
    margin-bottom: 10px;
}

.send_items:first-child {
    margin-bottom: 40px;
}

.send_item {
    font-size: 28px;
    color: #999999;
    height: 140px;
    line-height: 140px;
    position: relative;
}

.send_type {
    height: 98px;
    line-height: 98px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.send_item_l {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 12px;
    top: 20px;
}

.send_item:first-child .send_item_des {
    height: 138px;
    border-bottom: 2px solid #ededed;
}

.send_item_des {
    margin-left: 100px;
    text-align: center;
    margin: 0 60px 0 120px;
}

.icon-right {
    position: absolute;
    top: 48px;
    right: 40px;
    display: inline-block;
    width: 22px;
    height: 44px;
    background: url(../images/icon-right.png) no-repeat;
    background-size: 100% 100%;
}

.send_type_title {
    margin: 0 13px;
    font-size: 30px;
    color: #666666;
}

.send_type_des {
    text-align: center;
    flex: 1;
    color: #999999;
    font-size: 28px;
}

.txt_hid {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.send_type_des.type_active {
    color: #e87019;
}

.send_item .item_active {
    color: #666666;
}

.send_agreement {
    font-size: 28px;
    color: #cccccc;
    line-height: 88px;
    margin-bottom: 60px;
}

.send_agreement a {
    color: #e87019;
}

.send_submit {
    width: 600px;
    height: 88px;
    line-height: 88px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.send_submit .btn {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
    background-color: #e87019;
    border-radius: 88px;
}